

<h1> Great job <%= @user.first_name %>! You created the <%= @link_up.name %> LinkUp!</h1><br>
<h3> It will be in <%= @location.name%> with</h3>
<h1> <%= @guest.first_name %></h1>
<h3> Because, well, you are both interested in <%= @interest.name %>.</h3>
