<%= render "errors/flash_errors" %>

<div class="form_container">
  <h1>New User</h1>

  <%= form_for @user do |f| %>
<div>
  <%= f.label :first_name %> :<br>
  <%= f.text_field :first_name %>
</div>
  <div>
    <%= f.label :last_name %> :<br>
    <%= f.text_field :last_name %>
  </div>
    <div>
      <%= f.label :username %> :<br>
      <%= f.text_field :username %>
    </div>
    <div>
      <%= f.label :email %> :<br>
      <%= f.text_field :email %>


    </div>
    <div class="select_menu">
      <%= f.label 'Please select Interest: ' %>
      <%= f.collection_select :interest_ids, @interests, :id, :name  %>
    </div>
    <%= f.submit, {:class => 'big_button'} %>
  <% end %>
  </div>
