<h2><%= @user.first_name %> <%= @user.last_name %>
  </h2>
  <div>
    <p> <%= @user.username %> </p>
    <p> <%= @user.email %> </p>
  </div>

  <p> <%= link_to "Create Link Up", new_link_up_path, {:class => "sml_btn"}  %> </p>
  <p> <%= link_to "Find Link Up", link_ups_path, {:class => "sml_btn"} %> </p>

<% if !@user.interests.empty? %>
  <h3>Interests</h3>
  <ul>
    <% @user.interests.each do |interest| %>
      <li><%= link_to interest.name, interest %></li>
    <% end %>
  </ul>
<% end %>

<% if @user.link_ups.length > 0 %>
  <h3>Link Ups</h3>
  <ul>
    <% @user.link_ups.each do |link_up| %>
      <li><%= link_to link_up.name, link_up %></li>
    <% end %>
  </ul>
<% end %>
